<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>B.S.C.Team - CarService</title>

    <!--Bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Link To Favicon -->
    <link rel="shortcut icon" th:href="@{../images/favicon.svg}" type="image/svg+xml">

    <!-- Link To Account CSS -->
    <link rel="stylesheet" th:href="@{../css/Account_MAN.css}">

    <!-- Link To Own CSS -->
    <link rel="stylesheet" th:href="@{../css/style_MAN.css}">

    <!-- Link To Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <nav>
        <div class="my-container">
            <a href="#" class="left-logo d-flex align-items-center">
                <img th:src="@{/images/favicon.svg}" class="logo">
                <span class="title-logo">B.S.C Team</span>
            </a> 
            <div class="search-bar">
                <i class="bi bi-search"></i>
                <input type="search" placeholder="Search">
            </div>
            <div class="profile-area">
                <!-- sáng tối -->
                <div class="theme-btn">
                    <span class="switch">
                        <i class="bi bi-brightness-high bi-icon"></i>
                    </span>
                </div>
                <div class=" btn-group" >
                    <button class="profile btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="profile-photo">
                            <img th:src="@{/images/profile-1.jpg}">
                        </div>
                        <div class="profile__content d-flex flex-column">
                            <h5>Tên: Chu Hua</h5>
                            <span>Vai trò: Admin</span>
                        </div>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-right d-right">
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        <li><a class="dropdown-item" href="#">Quay lại trang chủ</a></li>
                    </ul>
                </div>
                <button id="menu-btn">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>
    </nav>
    <!--end of navbar-->

    <main>
        <aside style="grid-template-columns: 16rem auto 0;">
            <button class="close-btn">
                <span class="material-symbols-sharp">close </span>
            </button>
            <!--thanh menu-->
            <div class="sidebar">
                <a href="/admin/index" class="active">
                    <i class="bi bi-bar-chart-fill"></i>
                    <h4>Thống kê</h4>
                    
                </a>
            </div>
            <!---->
            <div class="sidebar">
                <a href="/admin/order">
                    <i class="bi bi-receipt-cutoff"></i>
                    <h4>Quản lí đơn hàng</h4>
                    
                </a>
            </div>
            <!---->
            <div class="sidebar">
                <a href="/admin/product">
                    <i class="bi bi-box2-fill"></i>
                    <h4>Quản lí sản phẩm</h4>
                    
                </a>
            </div>
            <!---->
            <div class="sidebar">
                <a href="/admin/news">
                    <i class="bi bi-newspaper"></i>
                    <h4>Quản lí tin tức</h4>
                    
                </a>
            </div>
            <!---->
            <div class="sidebar">
                <a href="/admin/account">
                    <i class="bi bi-person-gear"></i>
                    <h4>Quản lí tài khoản</h4>
                    
                </a>
            </div>
            <!--end of sidebar-->
        </aside>
        <!--end of aside-->

        <section class="middle">
            <div class="px-4 p-3">
                <div class="row">
                    <div class="col-5">
                        <button class="btn btn-info text-white">Thêm mới</button>
                    </div>
                </div>
            </div>
            <!--from-->
            <div class="above">
                <div class="row">
                    <div class="col-12">
                        <img src="" alt="">
                    </div>
                    <!--row1-->
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">ID</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Tên tài khoản</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-3">

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="col-auto">
                                    <label class="col-form-label">Tên</label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="col-auto">
                                    <label class="col-form-label">Họ</label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Email</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>
                    <!--row2-->
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Mật khẩu</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Số điện thoại</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" type="number" max="10" min="1">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Địa chỉ</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>

                    <!--row3-->
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Vai trò</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Quản lý</option>
                                <option value="1">Nhân viên</option>
                                <option value="2">Người dùng</option>

                            </select>
                        </div>
                       
                    </div>

                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Ngày tạo</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Ngày cập nhật</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-auto">
                            <label class="col-form-label">Ghi chú</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2"></label>
                        </div>
                    </div>

                </div>
                <!--btn-->

                <div class="btn-account">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                        <!--btn cập nhật-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modaledit">

                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <div class="modal fade" id="modaledit" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class=" modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">
                                            Cập nhật người dùng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">

                                        <p>Bạn có muốn cập nhật thông tin</p>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--btn xóa-->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modaldelete " tabindex="-1">
                            <i class="fa-solid fa-trash-can"></i>
                        </button> <!-- Modal delete -->
                        <div class="modal fade" id="modaldelete" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class=" modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">
                                            Xóa người dùng</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">

                                        <p>Bạn có muốn xóa thông tin </p>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below">
                <div class="table-responsive mt-5" style="overflow-x: auto">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên tài khoản</th>
                                <th>Tên</th>
                                <th>Họ</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Vai trò</th>
                                <th>Tình trạng</th>
                                <th>Hình ảnh</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#modal-active">

                                        <i class="fa-solid fa-lock "></i>
                                    </button>

                                    <div class="modal fade" id="modal-active" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class=" modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">
                                                    Khóa tài khoản </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">

                                                <p style="font-size: 19px;">Bạn có muốn khóa thông tin </p>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                </div>
                </td>

                <td></td>
                <td></td>
                </tr>

                </tbody>
                </table>
                <div class="d-flex justify-content-center">

                    <a class="page-link" href="#">1</a>
                    <a class="page-link" href="#">2</a>
                    <a class="page-link" href="#">3</a>
                    <a class="page-link" href="#">4</a>

                </div>
            </div>
            </div>

        </section>
        <!--end of middle-->

    </main>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main_MAN.js}"></script>
</body>

</html>