.title {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	margin-bottom: 1.5rem;
}

.name {
	font-variant: small-caps;
	color: orangered;
	font-size: 15px;
	text-align: center;
}

.caption {
	font-size: 13px;
	margin-top: 7px;
}

.btn-add {
	padding-top: 25px;
}



.tab {
	margin-top: 3rem;
}

.btn-pro {
	margin-top: 1.5rem;
	margin-left: 2rem;
}