.product {
    position: absolute; 
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    max-height: 100%;
}
.column1 {
    width: 60%;
    height: 200px;
    float: left;
}
.column2 {
    width: 40%;
    float: right;
}
.column2 > .image{
    height: 180px;
}

.prod {
    width: 35%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 20px;
    text-align: center;
    background: white;
}

.name {
    font-variant: small-caps;
    color: orangered;
    font-size: 20px;
}
.caption {
    font-size: 17px;
    margin-top: 7px;
}


