<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B.S.C.Team - CarService</title>

    <!-- Link To Favicon -->
    <link rel="shortcut icon" href="../../favicon.svg" type="image/svg+xml">

    <!-- Link To Base CSS -->
    <link rel="stylesheet" href="../css/base.css">

    <!-- Link To Icon Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <style>
        .sm-top {
    margin-top: 100px;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
#section-contact-information {
    padding-top: 0px;
    padding-bottom: 100px;
}
body {
    color: #303030;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mtn-30 {
    margin-top: -30px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.contact-info-item {
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 60px 20px;
    margin-top: 30px;
}
.contact-info-item .con-info-icon {
    border: 1px solid #eeb644;
    color: #eeb644;
}
.contact-info-item .con-info-icon {
    border: 1px solid #eeb644;
    border-radius: 100px;
    color: #eeb644;
    font-size: 40px;
    margin: 0 auto 20px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    line-height: 60px;
    height: 60px;
    width: 60px;
}

i {
    font-style: italic;
}
#section-contact-form {
    padding-top: 0px;
    padding-bottom: 100px;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-form-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -3px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #1b1b1c;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
form {
    margin-bottom: 0;
}
input, textarea, select {
    border-radius: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input, textarea, select {
    border: 1px solid #e5e5e5;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
}
*, input, :before, :after {
    box-sizing: border-box;
}

.input-item {
    margin-top: 30px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.input-item input, .input-item textarea {
    border: 1px solid #e1e1e1;
    display: block;
    padding: 12px 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 100%;
}
.input-item .btn-brand {
    font-size: 14px;
    border-radius: 2px;
    margin-top: 10px;
    letter-spacing: 1.6px;
}

.btn-white:hover, .btn-brand {
    background-color: #eeb644;
    border-color: #eeb644;
}
main {
            width: 100%;
            height: 1000px;
        }

    </style>
</head>

<body>
    <header>
        <nav class="my-navbar">
            <div class="container d-grid">
                <a href="#" class="brand d-flex gap-2">
                    <img src="../../favicon.svg" alt="" width="36">
                    <span>Brand</span>
                </a>
                <ul class="nav-menu">
                    <li class="active-link">
                        <a href="#" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" title="Mua sắm <.">Mua sắm <i class="bi bi-chevron-down"></i></a>
                        <div class="my-dropdown-menu">
                            <div class="container d-flex" style="grid-gap: 40px;">
                                <div class="right-section d-grid gap-2" style="grid-template-columns: repeat(6, 1fr);">
                                    <div class="menu-content d-flex flex-column">
                                        <h5>Phụ tùng động cơ</h5>
                                    <ul class="dropdown-links d-grid">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hệ thống bôi trơn</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hệ thống làm mát</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hệ thống đánh lửa</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Máy khởi động</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Gioăng động cơ</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="menu-content d-flex flex-column">
                                        <h5>Phụ tùng gầm</h5>
                                    <ul class="dropdown-links d-grid">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Ly hợp</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hệ thống phanh</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hộp số</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hệ thống truyền lực</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Bánh xe - May ơ</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="menu-content d-flex flex-column">
                                        <h5>Phụ tùng thân - vỏ</h5>
                                    <ul class="dropdown-links d-grid">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Ca pô - Tai xe</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Cánh cửa</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Kính xe</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Cản trước - Cản sau</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Gương xe</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="menu-content d-flex flex-column">
                                        <h5>Phụ tùng điều hòa</h5>
                                    <ul class="dropdown-links d-grid">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Hệ thống điều hòa</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Đèn xe hơi</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Cơ cấu rửa kính</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Quạt gió điều hòa</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <p>Công tắc, cầu chì</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="menu-content d-flex flex-column align-items-center">
                                        <h5>Sản phẩm hot</h5>
                                        <div class="d-flex align-items-center" style="height: 200px;">
                                            <img src="../../images/product-01.png" alt="">
                                        </div>
                                        <p>Tên sản phẩm</p>
                                        <div class="deals__price d-flex align-items-center gap-2">
                                            <span class="new__price">$139.00</span>
                                            <span class="old__price">$160.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" title="Sản phẩm <.">Sản phẩm <i class="bi bi-chevron-down"></i></a>
                        <div class="my-dropdown-menu">
                            <div class="container d-grid" style="grid-gap: 40px;">
                                <div class="left-section">
                                    <span class="dropdown-close">
                                        <i class="bi bi-chevron-left"></i>
                                        Back
                                    </span>
                                    <h1>Thương hiệu sản phẩm</h1>
                                    <p>Mô tả rằng tại đây có rất nhiều thương hiệu nổi tiếng 
                                        và phù hợp với xe của bạn, bạn có thể tham khảo rất nhiều thứ
                                        với chúng tôi. Hãy mua chỗ chúng tôi nhé bạn!!!
                                    </p>
                                    <a href="#" class="btn btn-primary btn-see-all">Xem thêm</a>
                                </div>
                                <div class="right-section">
                                    <h3>Sản phẩm hot trong tháng</h3>
                                    <ul class="dropdown-links">
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <h5>Sản phẩm 1</h5>
                                                    <p>Mô tả sản phẩm 1</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-webcam"></i>
                                                <div>
                                                    <h5>Sản phẩm 2</h5>
                                                    <p>Mô tả sản phẩm 2</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-arrow-repeat"></i>
                                                <div>
                                                    <h5>Sản phẩm 3</h5>
                                                    <p>Mô tả sản phẩm 3</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-boxes"></i>
                                                <div>
                                                    <h5>Sản phẩm 4</h5>
                                                    <p>Mô tả sản phẩm 4</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-gear"></i>
                                                <div>
                                                    <h5>Sản phẩm 5</h5>
                                                    <p>Mô tả sản phẩm 5</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="bi bi-grid-1x2-fill"></i>
                                                <div>
                                                    <h5>Sản phẩm 6</h5>
                                                    <p>Mô tả sản phẩm 6</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" title="Tin tức">Tin tức</a>
                    </li>
                    <li>
                        <a href="#" title="Liên hệ">Liên hệ</a>
                    </li>
                </ul>
                <div class="header__user-actions d-flex">
                    <!-- ======================= Cái này là để cho chưa đăng nhập nhé ======================= -->
                    <div class="header__user-left d-flex">
                        <a href="../../html/register.html" class="btn btn-outline-dark">
                            Đăng ký
                        </a>
                        <a href="../../html/login.html" class="btn btn-warning">
                            Đăng nhập
                        </a>
                        <span><i class="bi bi-dash-lg"></i></span>
                        <div class="header__user-right" >
                        <a href="#" class="btn btn-dark" id="search-icon">
                            <i class="bi bi-search" ></i>
                        </a>
                    </div>
                    </div>
                    <!-- ======================= Cái này là để cho đăng nhập rồi nhé ======================= -->
                    <!-- <div class="header__user-left d-flex gap-4">
                        <a href="../cart.html" class="d-flex header__action-btn">
                            <i class="bi bi-bag"></i>
                            <span class="count">2</span>
                        </a>
                        <a href="#" class="btn btn-dark" id="search-icon">
                            <i class="bi bi-search" style="color: white;"></i>
                        </a>
                    </div>

                    <span><i class="bi bi-dash-lg"></i></span>
                    <div class="header__user-right d-flex gap-5" >
                        
                        <div class="btn-group" >
                            <button class="profile d-flex flex-row-reverse align-items-center gap-2 btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="profile-photo overflow-hidden">
                                    <img src="../../images/profile-1.jpg">
                                </div>
                                <div class="profile__content d-flex flex-column ">
                                    <p style="margin: 0;">Tên: Chu Hua</p>
                                </div>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end d-right">
                                <li>
                                    <a class="dropdown-item" href="#">
                                    <i class="bi bi-person-fill"></i>
                                        Tài khoản
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-person-lines-fill"></i>
                                        Hồ sơ của tôi
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-bag-heart"></i>
                                        Yêu thích
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-receipt"></i>
                                        Lịch sử mua hàng
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-arrow-left-circle"></i>
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>

                <i class="bi bi-list toggle-navbar"></i>
            </div>
        </nav>
        <div class="search-box container">
            <input type="search" name="" id="" placeholder="Tìm kiếm ở đây...">
        </div>
    </header>

    <main>

        <!-- ========================== BREADCRUMB ========================== -->
        <section class="breadcrumb">
            <ul class="breadcrumb__list d-flex container">
                <li><a href="../html/index.html" class="breadcrumb__link">Trang chủ</a></li>
                <li><span class="breadcrumb__link">></span></li>
                <li><span class="breadcrumb__link active">Liên Hệ</span></li>
            </ul>
        </section>

        <div class="page-content-wrapper sm-top">
            <div class="contact-page-content"><div id="shopify-section-contact-template" class="shopify-section"><div class="contact-page-content">
            <div class="container"></div>
          </div>
          
          
          
          </div><div id="shopify-section-contact-information" class="shopify-section"><div class="contact-info-wrapper" id="section-contact-information">
            <div class="container">
              <div class="row mtn-30"><div class="col-lg-4 col-md-6">
                  <div class="contact-info-item"><div class="con-info-icon">
                    <i class="bi bi-geo-alt" style="font-size:30px; color: #eeb644;"></i>
                    </div><div class="con-info-txt"><h4>Our Location</h4><p>(800) 123 456 789 / (800) 123 456 789 info@example.com</p>
                    </div>
                  </div>
                </div><div class="col-lg-4 col-md-6">
                  <div class="contact-info-item"><div class="con-info-icon">
                    <i class="bi bi-phone-vibrate" style="font-size:30px; color: #eeb644;"></i>
                    </div><div class="con-info-txt"><h4>Contact us Anytime</h4><p>Mobile: 012 345 678<br>Fax: 123 456 789</p>
                    </div>
                  </div>
                </div><div class="col-lg-4 col-md-6">
                  <div class="contact-info-item"><div class="con-info-icon">
                    <i class="bi bi-envelope" style="font-size:30px; color: #eeb644;"></i>
                    </div><div class="con-info-txt"><h4>Support</h4><p>Support24/7@example.com info@example.com</p><br>
                    </div>
                  </div>
                </div></div>
            </div>
          </div><style data-shopify="">#section-contact-information{padding-top: 0px;
              padding-bottom: 100px;}
            @media (min-width: 768px) and (max-width: 991px) {
              #section-contact-information{padding-top: 0px;
                padding-bottom: 80px;}
            }
            @media (max-width: 767px) {
              #section-contact-information{padding-top: 0px;
                padding-bottom: 60px;}
            }</style>
          </div><div id="shopify-section-contact-form" class="shopify-section"><div class="contact-form-wrapper" id="section-contact-form">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="contact-form-content"><h2>GET IN TOUCH</h2><div class="contact-form-wrap">
            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact"><input type="hidden" name="utf8" value="✓">
          
            
          
            
            <div class="contact-form-inner">
              <div class="row">
                <div class="col-md-6" style="width:50%">
                  <div class="input-item">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" placeholder="Name" class="" name="contact[name]" id="ContactFormName" value="">
                  </div>
                </div>
          
                <div class="col-md-6" style="width:50%">
                  <div class="input-item">
                    <label class="sr-only" for="email">Email</label>
                    <input type="email" placeholder="Email" class="" name="contact[email]" id="ContactFormEmail" value="">
                  </div>
                </div>
          
                <div class="col-12">
                  <div class="input-item">
                    <label class="sr-only" for="subject">Subject</label>
                    <input type="text" id="ContactFormSubject" name="contact[subject]" placeholder="Subject" value="">
                  </div>
                </div>
          
                <div class="col-12">
                  <div class="input-item">
                    <label class="sr-only" for="message">Message</label>
                    <textarea placeholder="Message" class="custom-textarea" name="contact[body]" id="ContactFormMessage"></textarea>
                  </div>
                </div>
          
                <div class="col-12">
                  <div class="input-item">
                    <button type="submit" class="btn btn-brand">Send a message</button>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
          
          
          <script>
            var actCallback = function (response) {
              $('#contactFormSubmit').prop("disabled", false);
              $('#re-captcha').remove();
            };
            var expCallback = function() {
              $('#contactFormSubmit').prop("disabled", true);
            };
           
            var onloadCallback = function () {
              var widget = grecaptcha.render(document.getElementById("re-captcha"), {
                'sitekey' : "123456789", // Sitekey, Retrieving from reCaptcha
                'theme': "light",
                'callback' : actCallback,
                'expired-callback': expCallback,
              });
            }
          </script></div>
                </div>
              </div>
            </div>
          </div><style data-shopify="">#section-contact-form{padding-top: 0px;
              padding-bottom: 100px;}
            @media (min-width: 768px) and (max-width: 991px) {
              #section-contact-form{padding-top: 0px;
                padding-bottom: 80px;}
            }
            @media (max-width: 767px) {
              #section-contact-form{padding-top: 0px;
                padding-bottom: 60px;}
            }</style>
          </div>
          
          </div>






        
    </main>

    <footer>
        <div class="footer__container">
            <div class="footer__top container">
                <ul class="footer__info-links">
                    <li class="footer__info-link">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>
                            331 Đ. Nguyễn Văn Linh, P. An Khánh,
                            Q. Ninh Kiều, TP. Cần Thơ
                        </span>
                    </li>
                    <li class="footer__info-link">
                        <i class="bi bi-telephone-fill"></i>
                        <span>
                            +(84) 336 761 552
                        </span>
                    </li>
                    <li class="footer__info-link">
                        <i class="bi bi-envelope-fill"></i>
                        <span>
                            pkqnguyen123@gmail.com
                        </span>
                    </li>
                    <li class="footer__info-link">
                        <i class="bi bi-alarm-fill"></i>
                        <span>
                            Thời gian hoạt động: 8h00' - 22h00'
                        </span>
                    </li>
                </ul>

            </div>
            <div class="footer__body d-grid container">
                <div class="footer__content">
                    <h3 class="footer__title">
                        <a href="#" class="brand d-flex gap-2">
                            <img src="../../favicon.svg" alt="" width="36">
                            <span>Brand</span>
                        </a>
                    </h3>
                    <p class="footer__description">
                        Trang web của chúng tôi là một trang web bán phụ kiện tốt nhất dành cho xe của bạn. 
                        Tại đây có tất cả các phần phụ kiện mà bạn cần. Hãy đến với cửa hàng của chúng tôi.
                        Nơi mà xe bạn cần đến!!!
                    </p>
                    <a href="#" class="btn btn-custom">
                        Xem thêm
                    </a>
                </div>

                <div class="footer_content">
                    <h3 class="footer__title">Thông tin</h3>
    
                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Cửa hàng của chúng tôi
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Liên hệ với chúng tôi
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Dịch vụ của chúng tôi
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Tại sao là chúng tôi
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="footer_content">
                    <h3 class="footer__title">Chọn nhanh</h3>
    
                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Về chúng tôi
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Bài viết
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Cửa hàng
                            </a>
                        </li>
                        <li>
                            <a href="" class="footer__link">
                                <i class="bi bi-caret-right-fill"></i>
                                Đơn hàng
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="footer__content">
                    <h3 class="footer__title">Hình thức thanh toán</h3>
                    <h4 class="footer__subtitle">Hình thức</h4>
                    <img src="../../images/payment-method.png" alt="" class="payment__img">
                    <div class="footer__social">
                        <h4 class="footer__subtitle">Theo dõi chúng tôi</h4>

                        <div class="footer__social-links d-flex">
                            <a href="">
                                <i class="bi bi-facebook footer__social-icon"></i>
                            </a>
                            <a href="">
                                <i class="bi bi-twitter footer__social-icon"></i>
                            </a>
                            <a href="">
                                <i class="bi bi-instagram footer__social-icon"></i>
                            </a>
                            <a href="">
                                <i class="bi bi-pinterest footer__social-icon"></i>
                            </a>
                            <a href="">
                                <i class="bi bi-youtube footer__social-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom container">
                <p class="copyright">&copy; 2023 B.S.C.Team. All rights reserved</p>
                <span class="designer">Developed by: B.S.C Team</span>
            </div>
        </div>
    </footer>

    <a href="#" class="btn" id="btn-back-top">
        <i class="bi bi-chevron-double-up"></i>
    </a>

    
    <script src="../../js/main.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>