
.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  margin-bottom: 1.5rem;
}
.item {
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  margin: 2px;
  padding: 10px;
  background: white;
  width: 85%;
  height: 260px;
  }

  .column1 {
    width: 50%;
    height: 170px;
    float: left;
  }
  .column2 {
    margin-top: 4rem;
    width: 35%;
    float: right;
    height: 150px;
  }
  
  .name {
    font-variant: small-caps;
    color: orangered;
    font-size: 15px;
    text-align: center;
  }
 .caption {
    font-size: 13px;
    margin-top: 7px;
  }
  .price {
    color: blue;
  }
  
.list-products {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
.list-products .owl-nav {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translateY(-25px);
    font-size: 45px;
  }
  
.list-products .owl-dots {
    display: none;
  }
      
.list-products .owl-nav .owl-prev{
    position: absolute;
    left: -40px;
    outline: none;
  }
  
.list-products .owl-nav .owl-prev {
    opacity: 0.75;
    transition: all .5s;
  }
  
.list-products .owl-nav .owl-prev:hover {
    opacity: 1;
  }
  
.list-products .owl-nav .owl-next {
    opacity: 0.75;
    transition: all .5s;
  }
  
.list-products .owl-nav .owl-next:hover {
    opacity: 1;
  }
  
.list-products .owl-nav .owl-next{
    outline: none;
    position: absolute;
    right: 40px;
  }
  
.btn-add {
  padding-top: 25px;
}
.btn-product {
  margin-top: 17rem;
}
.tab{
  margin-top: 3rem;
}
.col-6 .col-auto .form-control {
	height: 34px;
}
 
