/* body,
ul,
li,
p,
a,
label,
input,
div {
  font-size: 18px !important;
  font-weight: 300 !important;
}

.h1 {
  font-size: 48px !important;
  font-weight: 200 !important;
}

.h2 {
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
} */

.text-warning {
  color: #ede861 !important;
}

.text-muted {
  color: #f8f0f0 !important;
}

.text-light {
  color: #cfd6e1 !important;
}

.bg-dark {
  background-color: #212934 !important;
}

.bg-light {
  background-color: #e9eef5 !important;
}

.bg-black {
  background-color: #1d242d !important;
}

.pagination .page-link:hover {
  color: #000;
}

.pagination .page-link {
  margin-top: 2rem;

}

.pagination .page-link:hover,
.pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}

.img-fluid-banner {
  display: flex;
  justify-content: center;
}

/* Accordion */
.templatemo-accordion a {
  color: #000;
}

.templatemo-accordion a:hover {
  color: #333d4a;
}

/* Product */
.products {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.product {
  position: relative;
  background-color: var(--sectionBack);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0px;
  border-radius: 10px;
  transition: .3s;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card.product-wap .card .product-overlay {
  background: rgba(0, 0, 0, .2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}

.card.product-wap a {
  color: #000;
}


.box__quickview-image {
  height: 350px;
  width: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.box__quickview-image img {
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-content>.title>a {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-content>.title>a p {
  margin-bottom: 0px !important;
}

/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}

.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.form-control {
  border: 1px solid #e8e8e8;
}

.product-wap .h3,
.product-wap li,
.product-wap i,
.product-wap p {
  font-size: 12px !important;
}

.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

  #template-mo-zay-hero-carousel .carousel-item {
    min-height: 15rem !important;
    background-color: #FFFFFF;
  }

@media (min-width: 1200px) {}

.product-icon .social {
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 1;
  transition: all .5s ease 0s;
}

.product-icon:hover .social {
  opacity: 1;
  bottom: 20px;
}

.product-icon .social li {
  display: inline-block;
}

.product-icon .social li a {
  color: #909090;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 1px solid #fcf7f7;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all .3s ease-in-out
}

.product-icon .social li a:hover {
  color: #fff;
  background-color: #2e86de;
  width: 80px;
}

.product-griconid6 .social li a:after,
.product-icon .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #2e86de;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.product-icon .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}

.product-icon .social li a:hover:after,
.product-icon .social li a:hover:before {
  opacity: 1;
}

.product-grid6,
.product-grid6 .product-image6 {
  overflow: hidden;
}

.product-grid6 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  transition: all .5s ease 0s;
}

.product-grid6:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.product-grid6 .product-image6 a {
  display: block;
}

.product-grid6 .product-image6 img {
  width: 100%;
  height: auto;
  transition: all .5s ease 0s;
}

.product-grid6:hover .product-image6 img {
  transform: scale(1.1);
}

.product-grid6 .product-content {
  padding: 12px 12px 15px;
  transition: all .5s ease 0s;
}

.product-grid6:hover .product-content {
  opacity: 0;
}

.product-grid6 .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all .3s ease 0s;
}

.product-grid6 .title a {
  color: #000;
}

.product-grid6 .title a:hover {
  color: var(--first-color);
}

.product-grid6 .price {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--first-color);
}

.product-grid6 .price>span:not(.old__price, .new__price) {
  color: #999;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}

.product-grid6 .social {
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 1;
}

.product-grid6:hover .social {
  opacity: 1;
  bottom: 20px;
}

.product-grid6 .social li {
  display: inline-block;
  opacity: 0;
  transition: all .7s;
}

.product-grid6 .social li:nth-child(1) {
  transition-delay: .15s;
}

.product-grid6 .social li:nth-child(2) {
  transition-delay: .3s;
}

.product-grid6 .social li:nth-child(3) {
  transition-delay: .45s;
}

.product-grid6:hover .social li {
  opacity: 1;
}

.product-grid6:hover .social {
  opacity: 1;
  bottom: 20px;
}

.product-grid6 .social li {
  display: inline-block;
}

.product-grid6 .social li a {
  color: #f3eeee;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 1px solid #ebe1e1;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all .3s ease-in-out;
}

.product-grid6 .social li a:hover {
  color: #da5757;
  background-color: #2e86de;
  width: 80px;
}

.product-grid6 .social li a:after,
.product-grid6 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #2e86de;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.product-grid6 .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}

.product-grid6 .social li a:hover:after,
.product-grid6 .social li a:hover:before {
  opacity: 1;
}

@media only screen and (max-width:990px) {
  .product-grid6 {
    margin-bottom: 30px;
  }
}

.product-item__sale {
  background-color: #626268;
  color: #FFFFFF;
  display: inline-table;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 5px;
  position: absolute;
  text-transform: uppercase;
  left: 10px;
  right: auto;
  top: 10px;
  text-align: center;
  letter-spacing: 0.05em;
}


